@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #0e0c0c;
  background-image: url("pic.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;  
  justify-content: center;
}
.text-center{
  text-align: center;
  color: white;
}

.button {
  width: 80px;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  background-color: #d6c2a9;
}
.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.calculator {
width: 350px;
height: 320px;
background-color: #83ecbf;
box-shadow: 0px 0px 0px 10px #666;
border: 5px solid black;
border-radius: 10px;
}
#display {
width: 320px;
height: 40px;
text-align: right;
background-color: #aca0a0;
border: 3px solid white;
font-size: 18px;
left: 2px;
top: 2px;

}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.btnTop{
color: white;
background-color: #6f6f6f;
font-size: 14px;
margin: auto;
width: 50px;
height: 25px;
}
.btnNum {
color: white;
background-color: black;
font-size: 14px;
margin: auto;
width: 50px;
height: 25px;
}
.btnMath {
color: white;
background-color: #ff4561;
font-size: 14px;
margin: auto;
width: 50px;
height: 25px;
}
.btnOpps {
color: white;
background-color: #ff9933;
font-size: 14px;
margin: auto;
width: 50px;
height: 25px;
}